name: Dart CI

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup mise
        uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3.6.0

      - name: install dependencies
        run: dart pub get

      # We don't run formatter as we want to keep unormdata.dart as is.
      # - name: Verify formatting
      #   run: dart format --output=none --set-exit-if-changed .

      - name: Analyze project source
        run: dart analyze

      - name: test on vm
        run: dart pub run test --platform vm

      - name: test on chrome
        run: dart pub run test --platform chrome ./test/unorm_dart_test.dart

      - name: Dry-run publish
        run: dart pub publish --dry-run
