name: Dart CI

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup mise
        uses: jdx/mise-action@d16887ba50704baed7de72bd1e82e04391e4457a # v3.5.0

      - name: install dependencies
        run: dart pub get

      # We don't run formatter as we want to keep unormdata.dart as is.
      # - name: Verify formatting
      #   run: dart format --output=none --set-exit-if-changed .

      - name: Analyze project source
        run: dart analyze

      - name: test on vm
        run: dart pub run test --platform vm

      - name: test on chrome
        run: dart pub run test --platform chrome ./test/unorm_dart_test.dart

      - name: Dry-run publish
        run: dart pub publish --dry-run
